<?xml version="1.0"?>

<!--
Written by Brad Edwards
6/14/2014
http://tomballpc.com
  -->

<configuration>
  <system.net>

    <mailSettings>
      <smtp deliveryMethod="Network"
            from="Your Name &lt;you@yourdomain.com&gt;">
        <network host="enterHostname.com" 
                 userName="you@yourdomain.com"
                 password="emailAddressPassword"
                 port="587"
                 />
      </smtp>
    </mailSettings>
  </system.net>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />

      <httpRuntime targetFramework="4.5" />
    </system.web>
</configuration>

